* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif
}

h1 {
  font-size: 18px;
  font-weight: 100;
  position: absolute;
  bottom: 20px;
  left: 20px;
  padding-top: 35px
}

.container {
  height: 100vh;
  background-position: center;
  background-size: cover;
  background-color: #111827;
  color: #f3f4f6;
  background-repeat: no-repeat
}

.line,
ul li {
  background: #fff
}

.sub-con {
  padding-top: 20px;
  width: 100%;
  display: grid;
  place-items: center
}

ul li {
  border-radius: 2px;
  padding: 10px;
  margin: 10px 0;
  color: #101010;
  list-style: none;
  font-size: larger
}

input[type=text] {
  width: 300px;
  height: 34px;
  outline: 0;
  padding-left: 10px;
  border-radius: 2px 0 0 2px;
  border: none
}

input[type=submit] {
  width: 60px;
  height: 34px;
  outline: 0;
  border-radius: 0 2px 2px 0;
  border: none;
  background: #f87171
}

.line {
  margin-top: 70px;
  width: 100%;
  height: 2px;
  margin-bottom: 10px
}